site_name: fleur
site_url: https://y-sunflower.github.io/fleur/
repo_url: https://github.com/y-sunflower/fleur

theme:
  name: material
  custom_dir: overrides
  features:
    - content.code.copy
    - navigation.path
    - navigation.tabs
  icon:
    repo: fontawesome/brands/github

plugins:
  - search
  - mkdocs_matplotlib
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_source: false
            show_root_heading: true
            heading_level: 3

nav:
  - Home: index.md
  - Examples:
      - examples/quick-start.md
      - examples/betweenstats.md
      - examples/scatterstats.md
  - Reference:
      - reference/betweenstats.md
      - reference/scatterstats.md
      - reference/barstats.md
      - reference/datasets.md
  - Contributing:
      - Contributing: dev/index.md
      - Set Up Environement: dev/environment.md
      - Code Structure: dev/code-structure.md
  - About: about.md

extra_css:
  - stylesheets/style.css

extra_javascript:
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
  - javascript/extra.js

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
  - admonition
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
